.contenedor{
    display: flex;
    flex-wrap: wrap;
}
.caja1{
    background-color: red;
    margin: 10px;
    width: 150px;
    height: 450px;
    flex-grow: 2;
}
.contenedor1{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ven{
    background-color:yellow;
    margin: 5px;
    width: 150px;
    height: 180px;
}
.ven1{
    background-color: green;
    margin: 5px;
    width: 150px;
    height: 180px;
}
.contenedor2{
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.ven2{
    background-color: yellow;
    margin: 5px;
    width: 150px;
    height: 180px;
}
.ven3{
    background-color: green;
    margin: 5px;
    width: 150px;
    height: 180px;
}
.caja2{
    background-color: yellow;
    margin: 10px;
    width: 150px;
    height: 450px;
    flex-grow: 7;
    display: flex;
    flex-wrap: wrap;
}
.caja{
    background-color: orangered;
    margin: 5px;
    width: 65px;
    height: 65px;
}
.caja3{
    background-color: green;
    margin: 10px;
    width: 150px;
    height: 450px;
    flex-grow: 2;
}
.contenedor3{
    background-color: hsl(0, 92%, 51%);
    width: 250px;
    height: 60px;
    margin: 10px;
    display: flex;   
}
.contenedor4{
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.ven4{
    background-color: #ffe600;
    margin: 5px;
    width: 110px;
    height: 110px;
}
.ven5{
    background-color: #ffe600;
    margin: 5px;
    width: 110px;
    height: 110px;
}
.contenedor5{
    background-color:red;
    width: 250px;
    height: 60px;
    margin: 10px;
    display: flex;
}
.contenedor6{
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.ven6{
    background-color: #ffe600;
    margin: 5px;
    width: 110px;
    height: 110px;
}
.ven7{
    background-color: #ffe600;
    margin: 5px;
    width: 110px;
    height: 110px;
}